.about-alpina {
  height: 1024px;
  background: linear-gradient(180deg, #000000cc, #000000cc), url(../public/images/img_about_alpina.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.stackvector_one {
  height: 1024px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--gray_900);
  background-image: url(../public/images/img_start_page.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @media only screen and (max-width: 1050px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.columnvector {
  gap: 752px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 6%;
  right: 0px;
  left: 0px;
  max-width: 1372px;
  width: 100%;
  margin: auto 34px;
  @media only screen and (max-width: 1050px) {
    gap: 564px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  @media only screen and (max-width: 550px) {
    gap: 376px;
  }
}

.vector_one {
  height: 46px;
  margin-right: 22px;
  width: 16%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.continue {
  color: var(--white_a700);
  padding-left: 32px;
  padding-right: 32px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--gray_400_72);
  text-align: center;
  height: 50px;
  min-width: 148px;
  border-radius: var(--radius-xs);
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.titleheader_one {
  color: var(--gray_50);
  padding-left: 14px;
  padding-right: 14px;
  letter-spacing: 2px;
  font-size: 16px;
  background-color: var(--blue_gray_100_6b);
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: absolute;
  right: 0px;
  top: 34%;
  margin: auto;
  border: 1px solid var(--black_900);
}
