/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
==========================================*/

/*-------------------------------------
  1. CSS Variables
--------------------------------------*/
:root {
  /*------Color variables------*/
  --black_900: #000000;
  --black_900_cc: #000000cc;
  --blue_gray_100_6b: #d1e4d86b;
  --gray_400_72: #c0b9b972;
  --gray_50: #fef7ff;
  --gray_900: #1e1e1e;
  --white_a700: #ffffff;

  /*------Border radius variables------*/
  --radius-xs: 24px;
}

/*-------------------------------------
  2. Utility CSS
--------------------------------------*/
.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
