/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.mega-menu__link {
  color: var(--black_600) !important;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  @media only screen and (max-width: 550px) {
    font-size: 13px;
  }
}

.menu {
  gap: var(--space-sm);
  display: flex;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 550px) {
    gap: var(--space-sm);
  }
}

.mega-menu__title {
  font-size: 18px;
  font-weight: 700;
  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }
}

.menu-column {
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 550px) {
    gap: var(--space-xs);
  }
}

.menu-link {
  align-self: center;
  @media only screen and (max-width: 550px) {
    font-size: 13px;
  }
}

.mega-menu__text {
  color: var(--black_600) !important;
  font-size: 16px;
  font-weight: 400;
}

.es {
  text-transform: uppercase;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.class-1-bedroom-studio {
  height: 1024px;
  background: linear-gradient(180deg, #000000cc, #000000cc), url(../public/images/img_1_bedroom_studio.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.columnes {
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 44px;
  background-color: var(--gray_400);
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.headeres {
  margin-left: 56px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.rowes {
  gap: var(--space-sm);
  align-self: start;
  display: flex;
  @media only screen and (max-width: 550px) {
    align-self: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.dhi-group {
  cursor: pointer;
  &:hover > :last-child {
    display: block;
  }
}

.buttonmenu {
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowdown_one {
  height: 16px;
  width: 16px;
}

.dhi-group-1 {
  position: absolute;
  top: auto;
  min-width: 200px;
  padding-top: var(--space-xs);
  z-index: 99;
  display: none;
  group-hover {
    display: block;
  }
}

.menu-container {
  background-color: var(--white_A700_01);
  box-shadow: var(--shadow-xs);
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-xs);
}

.menu-group {
  gap: var(--space-md);
  display: flex;
}

.headerlogo_one {
  height: 46px;
  width: 224px;
  object-fit: contain;
}

.megaphone_one {
  height: 40px;
  width: 40px;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.rowbedroomcount {
  margin-bottom: 4px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.columnbedroomco {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;
}

.bedroomcounter {
  letter-spacing: 32px;
  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.studio {
  margin-right: 144px;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.row1bedpdf_one {
  margin-top: 10px;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.class-1bedpdf_one {
  height: 704px;
  margin-bottom: 8px;
  width: 44%;
  object-fit: contain;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columncocinasal {
  align-self: end;
  width: 30%;
  @media only screen and (max-width: 1050px) {
    align-self: auto;
    width: 100%;
  }
}

.columnm2counter {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 46px;
  padding-right: 46px;
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rowcocinasalaso {
  margin-left: 78px;
  margin-right: 78px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.cocinasalasofac-1 {
  color: var(--gray_500) !important;
  text-align: justify;
  width: 42%;
  line-height: 24px;
}

.m2counter {
  margin-left: -32px;
  text-transform: uppercase;
  align-self: end;
  position: relative;
}

.stackm2counter {
  height: 426px;
  margin-left: 76px;
  margin-right: 76px;
  position: relative;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.columncocinasal-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: absolute;
  bottom: 0.5px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.cocinasalasofac-2 {
  color: var(--gray_500) !important;
  margin-right: 8px;
  text-align: justify;
  line-height: 24px;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.cocinasalasofac {
  color: var(--gray_500) !important;
  text-align: justify;
  width: 52%;
  line-height: 24px;
  position: absolute;
  right: 14.8px;
  top: 0px;
  margin: auto;
}
