/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.studio {
  color: var(--black_900) !important;
  text-transform: uppercase;
  font-size: 16px !important;
}

.bedroomcounter {
  color: var(--black_900) !important;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 16px !important;
}

.buttonmenu-2 {
  margin-bottom: 6px;
}

.price {
  color: var(--black_900) !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px !important;
  line-height: 24px;
}

.stackpiscina {
  height: 222px;
  margin-top: 48px;
  margin-bottom: 8px;
  width: 48%;
  position: relative;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.columnpiscina {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: max-content;
  margin: auto;
}

.container-5 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.container-9 {
  width: 66%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.buttonmenu-7 {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  width: 100%;
  display: flex;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rowareadeadulto {
  margin-left: 46px;
  margin-right: 46px;
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.areadeadultoszo {
  color: var(--gray_500) !important;
  width: 82%;
  line-height: 24px;
}

.container-6 {
  margin-top: 76px;
  align-self: stretch;
}

.container-10 {
  padding-left: 8px;
  padding-right: 8px;
}

.buttonmenu-8 {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.gimnasio {
  text-transform: uppercase;
  font-size: 16px !important;
}

.zona_de {
  color: var(--gray_500) !important;
  margin-right: 26px;
  align-self: end;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.piscina_two {
  height: 164px;
  width: 22%;
  object-fit: contain;
  position: absolute;
  bottom: 0px;
  left: 20%;
  margin: auto;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.overall-project {
  height: 1024px;
  width: 100%;
  position: relative;
  align-content: center;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.pngareasocial {
  height: 1004px;
  flex: 1;
  object-fit: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rowheaderlogo {
  height: 1024px;
  background-image: url(../public/images/img_group_26.png);
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.column_three {
  padding-top: 48px;
  padding-bottom: 48px;
  gap: 82px;
  background-color: var(--black_900_33);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    gap: 61px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 41px;
  }
}

.columnheaderlog {
  margin-left: auto;
  margin-right: auto;
  gap: 48px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  max-width: 1336px;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.headerheaderlog {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.buttonmenu_one {
  color: var(--black_900);
  text-transform: uppercase;
  font-size: 16px;
  gap: 8px;
  display: flex;
  width: 4%;
  background-image: url(../public/images/img_arrowdown.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: calc(100% - 20px);
  padding: 20px;
}

.headerlogo_one {
  height: 46px;
  align-self: center;
  width: 224px;
  object-fit: contain;
}

.menu {
  font-size: 16px !important;
}

.rowstudio {
  margin-left: 58px;
  margin-right: 76px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.columnstudio {
  margin-bottom: 16px;
  align-self: end;
  background-color: var(--gray_300_7f);
  width: 12%;
  padding: 56px 16px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--red_900);
  @media only screen and (max-width: 1050px) {
    align-self: auto;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.buttonmenu {
  margin-bottom: 20px;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.rowbedroomcount {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    flex-direction: column;
  }
}

.columnbedroomco {
  margin-bottom: 84px;
  margin-left: 56px;
  background-color: var(--gray_300_7f);
  width: 16%;
  padding: 56px 16px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--red_900);
  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
  }
}

.buttonmenu-1 {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
}

.column {
  margin-bottom: 16px;
  align-self: end;
  background-color: var(--gray_300_7f);
  width: 156px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--green_900);
  @media only screen and (max-width: 1050px) {
    align-self: auto;
  }
}

.column_one {
  background-color: var(--gray_300_7f);
  width: 156px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--teal_400);
}

.columnprice {
  align-self: end;
  background-color: var(--gray_300_7f);
  width: 16%;
  padding: 38px 24px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--black_900);
  @media only screen and (max-width: 1050px) {
    align-self: auto;
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    padding: 20px;
  }
}

.column_two {
  background-color: var(--gray_300_8c);
  width: 16%;
  padding: 38px 24px;
  border-radius: var(--radius-sm);
  border: 2px dashed var(--deep_purple_600);
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    padding: 20px;
  }
}

.row {
  padding-left: 42px;
  padding-right: 42px;
  align-self: stretch;
  display: flex;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.columnloungeclu {
  width: 100%;
  max-width: 1352px;
  margin-left: auto;
  margin-right: auto;
}

.rowpiscina {
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.rowloungeclub {
  margin-top: 18px;
  gap: 39px;
  align-self: end;
  width: 40%;
  display: flex;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    align-self: auto;
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.stackloungeclub {
  height: 124px;
  margin-bottom: 210px;
  width: 48%;
  position: relative;
  @media only screen and (max-width: 550px) {
    width: 100%;
    margin-bottom: 0px;
  }
}

.container-3 {
  flex: 1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
}

.buttonmenu-5 {
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.loungeclub {
  text-transform: uppercase;
}

.vectorfive_one {
  height: 110px;
  width: 24%;
  object-fit: contain;
  position: absolute;
  bottom: 0.5px;
  right: 3.5px;
  margin: auto;
}

.description {
  color: var(--gray_500) !important;
  width: 76%;
  line-height: 24px;
  position: absolute;
  right: -1.5px;
  bottom: 0px;
  top: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: max-content;
}

.grid_one {
  height: 88px;
  align-self: end;
  width: 20%;
  object-fit: contain;
  @media only screen and (max-width: 550px) {
    align-self: auto;
    width: 100%;
  }
}

.overall_project {
  gap: var(--space-xs);
  display: flex;
  flex: 1;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    flex-direction: column;
  }
}

.rowareadebbq {
  margin-left: 226px;
  margin-right: 212px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.columnareadebbq {
  align-self: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.container-1 {
  display: flex;
  justify-content: center;
}

.container-4 {
  width: 76%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.buttonmenu-6 {
  padding-left: 34px;
  padding-right: 34px;
  width: 100%;
  display: flex;
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.areadebbq {
  color: var(--gray_300) !important;
  text-transform: uppercase;
}

.espacioabiertot {
  color: var(--gray_500) !important;
  margin-left: 64px;
  text-align: justify;
  line-height: 24px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.container {
  width: 44%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.container-2 {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

.buttonmenu-4 {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.rowamenidades {
  margin-top: -2px;
  position: relative;
}

.columnview {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.columnamenidade {
  gap: 4px;
  z-index: 1;
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  align-items: end;
}

.amenidades {
  letter-spacing: 32px;
}

.vermas {
  color: var(--white_a700_c6) !important;
  margin-right: 198px;
  letter-spacing: 6px;
  font-family: Roboto Serif !important;
  font-weight: 300 !important;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.view {
  height: 30px;
  margin-top: -24px;
  margin-right: 176px;
  position: relative;
  background-color: var(--blue_gray_100_28);
  width: 12%;
  border-radius: var(--radius-xs);
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}
