/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.mega-menu__link {
  color: var(--black_600) !important;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
  @media only screen and (max-width: 550px) {
    font-size: 13px;
  }
}

.menu {
  gap: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 550px) {
    gap: var(--space-md);
  }
}

.mega-menu__title {
  font-size: 18px;
  font-weight: 700;
  @media only screen and (max-width: 550px) {
    font-size: 15px;
  }
}

.menu-column {
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: start;
  @media only screen and (max-width: 550px) {
    gap: var(--space-xs);
  }
}

.menu-link {
  align-self: center;
  @media only screen and (max-width: 550px) {
    font-size: 13px;
  }
}

.mega-menu__text {
  color: var(--black_600) !important;
  font-size: 16px;
  font-weight: 400;
}

.m2counter {
  margin-top: 4px;
  text-transform: uppercase;
}

.price {
  color: var(--gray_500) !important;
  text-align: justify;
  line-height: 24px;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.class-2-bedroom {
  height: 1024px;
  background: linear-gradient(180deg, #000000cc, #000000cc), url(../public/images/img_2_bedroom.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.columnes {
  gap: 58px;
  background-color: var(--gray_400);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  @media only screen and (max-width: 1050px) {
    padding: 20px;
  }

  @media only screen and (max-width: 550px) {
    gap: 29px;
  }
}

.headeres {
  margin-left: 6px;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 20px;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.rowes {
  gap: var(--space-md);
  align-self: start;
  display: flex;
  @media only screen and (max-width: 550px) {
    align-self: auto;
  }
}

.dhi-group {
  cursor: pointer;
  &:hover > :last-child {
    display: block;
  }
}

.buttonmenu {
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.es {
  text-transform: uppercase;
}

.arrowdown_one {
  height: 16px;
  width: 16px;
}

.dhi-group-1 {
  position: absolute;
  top: auto;
  min-width: 200px;
  padding-top: var(--space-xs);
  z-index: 99;
  display: none;
  group-hover {
    display: block;
  }
}

.menu-container {
  background-color: var(--white_A700_01);
  box-shadow: var(--shadow-xs);
  width: 100%;
  padding: 20px;
  border-radius: var(--radius-xs);
}

.menu-group {
  gap: var(--space-lg);
  display: flex;
}

.headerlogo_one {
  height: 46px;
  width: 224px;
  object-fit: contain;
}

.megaphone_one {
  height: 40px;
  width: 40px;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.rowbedroomcount {
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  align-self: stretch;
  display: flex;
  max-width: 1160px;
  width: 100%;
}

.columnbedroomco {
  gap: var(--space-sm);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: end;
}

.bedroomcounter {
  letter-spacing: 32px;
  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.rowm2counter {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.row2bedpdfone {
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }
}

.class-2bedpdfone_one {
  height: 710px;
  width: 96%;
  object-fit: contain;
}

.column_two {
  align-self: end;
  width: 24%;
  @media only screen and (max-width: 1050px) {
    align-self: auto;
    width: 100%;
  }
}

.columnm2counter {
  padding-left: 56px;
  padding-right: 76px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.column {
  margin-top: 16px;
  padding-left: 56px;
  padding-right: 76px;
  gap: var(--space-sm);
  display: flex;
  flex-direction: column;
  align-items: end;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.column_one {
  padding-left: 56px;
  padding-right: 74px;
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: end;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
